
.vs/WinformEx/v16/Server/sqlite3/storage.ide
.vs/WinformEx/v16/Server/sqlite3/db.lock
.vs/WinformControlsEx/v16/Server/sqlite3/storage.ide-wal
.vs/WinformControlsEx/v16/Server/sqlite3/storage.ide-shm
.vs/WinformControlsEx/v16/Server/sqlite3/storage.ide
.vs/WinformControlsEx/v16/Server/sqlite3/db.lock
/.vs
/DemoNet46/bin/*
/DemoNet46/obj/*
/FormEx/obj/*
/FormEx/bin/*
/Utils/bin/*
/Utils/obj/*
/Utils.UI/bin/*
/Utils.UI/obj/*
.svn/*
*.pdb
/DemoCore/bin
/DemoCore/obj
/FormExCore/obj
/FormExCore/bin
/Svg/bin
/Svg/obj
/DemoCore/*.user
*/bin/*
*/obj/*