
.vs/WinformEx/v16/Server/sqlite3/storage.ide
.vs/WinformEx/v16/Server/sqlite3/db.lock
.vs/WinformControlsEx/v16/Server/sqlite3/storage.ide-wal
.vs/WinformControlsEx/v16/Server/sqlite3/storage.ide-shm
.vs/WinformControlsEx/v16/Server/sqlite3/storage.ide
.vs/WinformControlsEx/v16/Server/sqlite3/db.lock
/.vs
/Demo5/obj/*
/Demo5/bin/*
/DemoNet46/bin/*
/DemoNet46/obj/*
/FormEx/obj/*
/FormEx/bin/*
/Utils/bin/*
/Utils/obj/*
/Utils.UI/bin/*
/Utils.UI/obj/*
.svn/*
/Utils.UI/bin/Release/net40
*.pdb
/Svg/bin/Release
/FormExCore/bin/Release/net6.0-windows
/DemoCore/bin/Release/net6.0-windows
/DemoCore/obj/Debug/net6.0-windows
/DemoCore/obj/Release/net6.0-windows
/FormExCore/obj/Release/net6.0-windows
/Svg/obj/Release/net6.0-windows
/DemoCore/*.user
*/bin/*
*/obj/*