
.vs/WinformEx/v16/Server/sqlite3/storage.ide
.vs/WinformEx/v16/Server/sqlite3/db.lock
.vs/WinformControlsEx/v16/Server/sqlite3/storage.ide-wal
.vs/WinformControlsEx/v16/Server/sqlite3/storage.ide-shm
.vs/WinformControlsEx/v16/Server/sqlite3/storage.ide
.vs/WinformControlsEx/v16/Server/sqlite3/db.lock
/.vs
/Demo5/obj
/Demo5/bin/Debug/net5.0-windows
/DemoNet46/bin/Debug
/DemoNet46/obj/Debug
/FormEx/obj
/FormEx/bin/Debug
/Utils/bin/Debug
/Utils/obj
/Utils.UI/bin/Debug
/Utils.UI/obj
